<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.alay.mycopier.plist</string>

  <key>ProgramArguments</key>
  <array>
    <string>/path/to/mycopier</string>
    <string>/target/dir</string>
    <string>/source/file1.txt</string>
    <string>/source/fileN.txt</string>
    <string>/source/fileN+1.txt</string>
  </array>

  <key>StartInterval</key>
  <integer>60</integer>

  <key>StandardErrorPath</key>
  <string>/path/to/error-log.txt</string>

  <key>StandardOutPath</key>
  <string>/path/to/log.txt</string>
</dict>
</plist>
